<!--  Modal -->
<div class="modal fade" id="productView" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content rounded-0 border-0">
        <div class="modal-body p-0 overflow-hidden shadow">
          <div class="row align-items-stretch">
            <div class="col-lg-6 p-lg-0 modal-product-img"><a
                class="glightbox product-view d-block h-100 bg-cover bg-center"
                style="background: url(img/product-5.jpg)" href="img/product-5.jpg" data-gallery="productview"></a><a
                class="glightbox product-view h-100 bg-cover bg-center d-none" href="img/product-5-alt-1.jpg"
                data-gallery="productview"></a><a class="glightbox product-view h-100 bg-cover bg-center d-none"
                href="img/product-5-alt-2.jpg" data-gallery="productview"></a></div>
            <div class="col-lg-6">
              <button class="close modal-close p-4 border-0" type="button" data-bs-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">
                  <svg class="svg-icon text-white mt-1">
                    <use xlink:href="#close-1"> </use>
                  </svg></span></button>
              <div class="p-5 my-md-4">
                <ul class="list-inline mb-2">
                  <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                  <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                </ul>
                <h2 class="h5 text-uppercase">Kui Ye Chen’s AirPods</h2>
                <p class="text-muted">$250</p>
                <p class="text-small mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper
                  leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur
                  ridiculus mus. Vestibulum ultricies aliquam convallis.</p>
                <ul class="list-inline mb-4">
                  <li class="list-inline-item me-3"><strong>Quantity</strong></li>
                  <li class="list-inline-item">
                    <div class="border d-flex align-items-center justify-content-between p-1">
                      <div class="quantity py-0">
                        <button class="dec-btn p-0" onclick="decrease(this)"><i class="fas fa-caret-left"></i></button>
                        <input class="form-control border-0 shadow-0 p-0 quantity-result" type="text" value="1">
                        <button class="inc-btn p-0" onclick="increase(this)"><i class="fas fa-caret-right"></i></button>
                      </div>
                    </div>
                  </li>
                  <li class="list-inline-item"><a class="btn btn-dark" href="cart.html">
                      <svg class="svg-icon text-white me-2 svg-icon-md me-2 pe-1">
                        <use xlink:href="#shopping-bag-1"> </use>
                      </svg>Add to cart</a></li>
                </ul><a class="p-0 reset-anchor" href="#"><i class="far fa-heart me-2"></i>Add to wish list</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>